<table class="table table-sm">
	<thead>
	<tr>
		<th class="gsm-col-day">Tag</th>
		<th class="gsm-col-tasks">Aufgaben</th>
	</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="(d, day) in $ctrl.tasks">
			<td class="gsm-col-day">{{::day.date}}</td>
			<td class="gsm-col-tasks">
				<table class="table table-sm table-hover">
					<tbody>
					<tr data-ng-repeat="(t, task) in day.tasks">
						<td class="gsm-col-time">{{::task.time}}</td>
						<td class="gsm-col-title">{{::task.title}}</td>
						<td class="gsm-col-responsible">
							{{$ctrl.getContact(task.responsible)}}
							<a href=""
							   data-ng-click="$ctrl.editResponsibleFn.emit({dayIdx: d, taskIdx: t})">
								<i class="fa fa-pencil"></i>
							</a> |
							<a href=""
							   data-ng-click="$ctrl.deleteResponsibleFn.emit({dayIdx: d, taskIdx: t})">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>