<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>eatat Appliance Test</title>
</head>
<body>

<gsc-app></gsc-app>

<link rel="stylesheet" href="./index.css?<%- Date.now() %>" />
<script src="./index.js?<%- Date.now() %>"></script>

</body>
</html>